<div class="flex full-height">
	<div class="flex-1 list-dialogs" [class.open]="!dialogIsOpen">
		<div class="message-head">
			<input class="search" type="search" placeholder="Search:">
		</div>

		<div class="dialog-body">

			<div class="item" *ngFor="let item of dialogs" [routerLink]="item._id" [routerLinkActive]="'active'" (click)="setFocus()">
				<div class="img-user">
					<div class="img"> <img [src]="getImg(item)"> </div>
					<div class="status"></div>
				</div>
				<div class="text">
					<b>{{ getName(item) }}</b>
					<p>
						<span class="img" *ngIf="item.lastSender == gb.user._id"> <img [src]="getLastSenderImg()"></span>
						<span>{{ getLastMessage(item) }}</span>
					</p>
				</div>
				<div class="data">{{ item.date | date: 'HH:mm dd/MM' }}</div>
				<div class="dialog-unread" *ngIf="getUnreadMsg(item) != 0">{{ getUnreadMsg(item) }}</div>
			</div>

		</div>
	</div>
	<div class="flex-2 list-messages" [class.open]="dialogIsOpen">
		<router-outlet></router-outlet>
	</div>
</div>
