@import "../../_variables.scss";



.list-dialogs {
	border: 1px solid $border_color;
	background-color: white;
	
	.message-head {
		display: block;
		height: 26px;
		background-color: white;
		border-bottom: 1px solid #dbe4ec;

		.search {
			border: none;
			background: none;
			height: 100%;
			width: 100%;
	    	outline: none;
			padding: 5px;
		}
	}

	.dialog-body {
		display: block;
		height: calc(100% - 26px);
    overflow-y: auto;

    &::-webkit-scrollbar {
    	width: 0px;
    }

		.item {
			position: relative;
			background-color: #fff;
			display: flex;
			align-items: center;
			min-height: 42px;
			padding: 14px 10px;
			transition: all .2s;
			cursor: pointer;
			outline: none;
			border-bottom: 1px solid $border_color;

			&.active {
				background-color: #E5ECF8;
			}

			&:hover {
				box-shadow: 0 2px 14px rgba(#333,.3);
			}

			.img-user {
				flex-basis: 40px;
				width: 40px;
				height: 40px;

				.img {
					width: 100%;
				    height: 100%;
				    border-radius: 50%;
				    overflow: hidden;

					img {
						width: 100%;
						height: 100%;
				    object-fit: cover;
					}
				}
			}

			.text {
				padding-left: 10px;

				b {
					margin: 0;
					display: block;
					padding: 0;
					font-size: 13px;
				}

				p {
					margin: 0;
					display: block;
					padding: 0;
					font-size: 12px;
					margin-top: 6px;
					width: 12vw;
					overflow: hidden;
					text-overflow: ellipsis;
			    	white-space: nowrap;

					.img {
				   		width: 18px;
						height: 18px;
						display: inline-block;
						overflow: hidden;
			   			border-radius: 50%;
						vertical-align: middle;

						img {
							width: 100%;
							object-fit: cover;
							height: 100%;
						}
					}

					span{
						white-space: nowrap;
					}
				}
			}

			.data {
				position: absolute;
				bottom: 5px;
				right: 5px;
				font-size: 8px;
			}

			.dialog-unread {
				position: absolute;
				right: 8px;
				top: 11px;
				font-size: 10px;
				padding: 5px 5px 3px 5px;
				background-color: $color_second;
				border-radius: 55px;
				line-height: 1;
				color: #fff;
			}
		}
	}
}

.list-messages {
	background-color: #F3F7FE;
	overflow-y: auto;
}



/*    ------------------ media ------------------    */


@media (max-width: $sm) {
    .list-dialogs {
    	flex: 0!important;
    	overflow: hidden;
    	&.open {
    		flex: 1!important;
    	}
    }

    .list-messages {
    	flex: 0!important;
    	overflow: hidden;
    	&.open {
    		flex: 1!important;
    	}
    }
}