<div class="text">
    <textarea rows="1" placeholder="Write text:" #textarea (keyup)="resize()" [ngModel]="textareaModel"></textarea>
    <div class="emoji">
    </div>
</div>
<div class="line"></div>
<div class="imgs-container">
    <div class="item" *ngIf="img">
        <img [src]="img.result">
        <div class="overlay">
            <div class="remove-btn" (click)="removeImg()"></div>
        </div>
    </div>
</div>
<div class="buttons flex">
    <div class="flex-1 flex left ">
        <div class="btn-icon upload-images">
            <input type="file" multiple ngFileSelect #imgFiles (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
        </div>
        <div class="btn-icon icon-locations" *sm>
            <input type="button" class="locations">
        </div>
    </div>
    <div class="right">
        <input type="button" class="btn" value="publish" (click)="publish()">
    </div>
</div>
