@import "../../../_variables.scss";




:host{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 2;
}

.info-container{
    width: 100%;
    overflow: hidden;
    background-color: #2a5885;
    transition: height $time;
}
