<div>
	<div class="friends">
		<a class="flex-1" [routerLink]="'all'" [routerLinkActive]="'active'">All following</a>
		<a class="flex-1" [routerLink]="'online'" [routerLinkActive]="'active'">Online following</a>
		<a class="flex-1" [routerLink]="'search'" [routerLinkActive]="'active'">Find</a>
	</div>
	<router-outlet></router-outlet>
</div>
