@import "../../_variables.scss";

.friends {
    display: flex;
    background: #fff;
    box-shadow: 0 0 10px 1px rgba(51, 51, 51, 0.2);

    & > a {
        font-size: 14px;
        padding: 10px;
        outline: none;
        text-decoration: none;
        cursor: pointer;
        border-left: 1px solid $border_color;

        &.active {
            font-weight: bold;
            background-color: #edf3f9;
        }
    }
}
