<app-google-map-context-menu [class.open]="contextMenuIsOpen" [ngStyle]="contextMenuPosition" (sendCoords)="sendCoords()"></app-google-map-context-menu>

<app-google-map-info-window>
    qwqwr
</app-google-map-info-window>

<sebm-google-map [latitude]="mapData.centerLat" [longitude]="mapData.centerLng" [zoom]="mapData.zoom" [styles]="mapData.styles" (mapRightClick)="openMenu($event)">
    <sebm-google-map-marker
        *ngIf="gb['user'].coords"
        [latitude]="gb['user'].coords.lat"
        [longitude]="gb['user'].coords.lng"
        [iconUrl]="getUserMarker()">
    </sebm-google-map-marker>

	<sebm-google-map-marker
        *ngFor="let m of mapData.markers; let i = index"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [iconUrl]="m.iconUrl"
        [opacity]="m.opacity"
        (markerClick)="showInfo(m, $event)">
    </sebm-google-map-marker>
</sebm-google-map>
