<header [class.unautorized]="!isAutorized()">
	<div class="logo">iMap</div>
	<div class="search" *ngIf="isAutorized()">
		<input type="search" placeholder="Search in imap:">
	</div>
	<nav *ngIf="isAutorized()">
		<a [routerLink]="gb.user._id" class="user-name"> {{ gb.user.firstName }} {{ gb.user.lastName }} </a>
		<div class="profile-dropdown-menu" [ngClass]="checkOpen()" (click)="toggleOpenMenu()" (clickOutside)="toggleOpenMenu(true)">
			<div class="img-user">
				<img [src]="getAvatarUrl()" alt="user">
			</div>
			<nav class="nav-menu">
				<a [routerLink]="'/'+gb.user._id" routerLinkActive="active" >My profile</a>
				<span class="line"></span>
				<a routerLink="/news" routerLinkActive="active" >News</a>
				<a routerLink="/notifications" routerLinkActive="active" >Notifications <span>+4</span></a>
				<a routerLink="/friends" routerLinkActive="active" >Following </a>
				<a routerLink="/settings" routerLinkActive="active" >Setings</a>
				<span class="line"></span>
				<a (click)="logout()">logout</a>
			</nav>
		</div>
		<a routerLink="/dialog" class="messages">
		</a>
		<a href="#" class="btn">add point</a>
	</nav>

    <form *ngIf="!isAutorized()" class="flex right ai-center" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group margin-r" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <input type="text" class="input" name="email" placeholder="Email" [(ngModel)]="model.email" #email="ngModel" required/>
            <div *ngIf="f.submitted && !email.valid" class="help-block">email is required</div>
        </div>
        <div class="form-group margin-r" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <input type="password" class="input" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required/>
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-danger">Go</button>
        </div>
    </form>

</header>

<div class="mc" [class.unautorized]="!isAutorized()">
	<div class="map" *ngIf="isAutorized()" [class.open]="isOpenMap">
		<app-map></app-map>
	</div>
	<div class="panel">
		<router-outlet></router-outlet>
	</div>
</div>

<footer [class.unautorized]="!isAutorized()" *sm>
	<div class="menu flex">
		<a routerLink="/news" class="news flex-1" routerLinkActive="active" ></a>
		<a routerLink="/friends/all" class="friends flex-1" routerLinkActive="active" ></a>
		<a class="map flex-1" [class.active]="isOpenMap" (click)="toggleOpenMap()"></a>
		<a routerLink="/dialog" class="messages flex-1" routerLinkActive="active"></a>
		<a [routerLink]="'/'+gb.user._id" class="profile flex-1"  routerLinkActive="active"></a>
	</div>
</footer>
