<div class="table-l">
	<div class="message-head">
		<div class="go-back" *sm (click)="goBack()"></div>
		<div class="name flex-1">{{ getName() }}</div>
	</div>
	<div class="chat-body">
		<div class="chat-body-wrap">
			<div class="abs">
				<div class="messages-container" #scroll (scroll)="loadOlderMessages($event)">

					<div class="message" *ngFor="let item of dialog.messages; let i = index;" [ngClass]="getSender(item)">
						<a [routerLink]="'/'+ item.userId" class="img-profile" *ngIf="!prevSender(i)">
							<img [src]="getUserImg(item)">
						</a>
						<div class="space" *ngIf="!prevSender(i)"></div>
						<div class="info-user" *ngIf="!prevSender(i)">
							<a [routerLink]="'/' + item.userId">{{ item.userName }}</a> <span>{{ item.date | date: 'HH:mm dd/MMM' }}</span>
						</div>
						<div class="content-text" *ngIf="type(item, 'msg')">
							<p>
								<span *ngFor="let row of splitMessage(item)">{{ row }}<br></span>
							</p>
						</div>
                        <a class="content-img" *ngIf="type(item, 'img')">
                            <img [src]="getImg(item)">
                        </a>
                        <div class="content-coords" *ngIf="type(item, 'coords')">
                            <a (click)="showInMap(item)">{{ getFormattedAddress(item) }}</a>
                            <div>{{ getCoords(item) }}</div>
                        </div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="flex chat-input">
        <div class="upload-img icon-img">
            <input type="file" #img ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
        </div>
        <div class="send-my-coords icon-locations">
            <input type="button" class="locations">
        </div>
		<div>
			<textarea rows="1" class="message" placeholder="Write a messages..." (keyup.control.enter)="newLine()" (keyup)="resize()" (keydown.enter)="sendMessage(message, $event)" #message></textarea>
		</div>
		<input type="button" class="icon-send" (click)="sendMessage(message,$event)">
	</div>
</div>
