<div class="conteiner-points">
    <masonry class="points">
        <masonry-brick class="point" *ngFor="let item of points">
            <app-point [point]="item"></app-point>
        </masonry-brick>
    </masonry>
</div>
