<a [href]="getOriginImg()" target="_blank" class="img">
    <img [src]="getImg()">
</a>
<div class="container">
    <a [routerLink]="'/'+point.userId" class="author flex">
        <span class="avatar">
            <img [src]="getUserAvatar()">
        </span>
            <span class="flex-1 flex point-author">
            <span class="name">{{ point.userName }}</span>
            <span class="data">{{ point.date | date: 'HH:mm dd MMMM yyyy' }}</span>
        </span>
    </a>
    <div class="text">
        {{ point.text }}
    </div>
    <div class="line"></div>
    <div class="footer">
        <div class="list-likes">
            <a class="like" *ngFor="let like of getLimUserLikes()">
                <div class="img">
                    <img [src]="getUserAvatar(like)">
                </div>
            </a>
        </div>
        <div class="add-like" [class.active]="isSettedLike()" (click)="toggleLike()"></div>
    </div>
</div>


