<div class="profile">
	<div class="header-mob flex" *sm>
		<div class="go-back"></div>
		<div class="follow">
			<input type="button" class="btn follow" value="Follow" *ngIf="!isFollow() && !isMyProfile()" (click)="follow()">
			<input type="button" class="btn" value="Unfollow" *ngIf="isFollow() && !isMyProfile()" (click)="unfollow()">
		</div>
		<div class="map">on map</div>
	</div>
	<div class="column-left">
		<div class="img">
			<img [src]="getAvatarUrl()" alt="">
		  	<input [class.hidden]="!isMyProfile()" type="file" class="upload-btn" ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
		</div>
		<div class="send-message" *xl>
			<input *ngIf="!isMyProfile()" (click)="createDialog()"  type="button" class="btn" value="Write a message">
			<input *ngIf="isMyProfile()" routerLink="/settings" type="button" class="btn" value="Settings">
		</div>
		<div class="send-message" *sm>
			<input *ngIf="!isMyProfile()" (click)="createDialog()"  type="button" class="btn messages" value="">
			<input *ngIf="isMyProfile()" routerLink="/settings" type="button" class="btn settings" value="">
		</div>
	</div>
	<div class="column-right">
		<div class="flex" *xl>
			<div class="flex-3 name">{{ user.firstName }} {{ user.lastName }}</div>
			<div class="flex-1 is-online">{{ isOnline() }}</div>
		</div>
		<div class="profile-name" *sm>
			<div class="name-online">{{ user.firstName }} {{ user.lastName }} <span class="online"></span></div>
		</div>
		<div class="information" *xl>
			<div class="item location">
				<div>location:</div>
				<div>{{ user.coords.lat }} {{ user.coords.lng }}</div>
			</div>
			<div class="item phone">
				<div>phone:</div>
				<div>+380966967086</div>
			</div>
			<div class="item site">
				<div>site:</div>
				<div>tsarr.pro</div>
			</div>
			<div class="show-all">Show all information</div>
		</div>
		<div class="flex">
			<div class="flex-3 statistics">
				<div class="item">
					<div class="amount">{{ user.points.length }}</div>
					<div class="denomination">Points</div>
				</div>
				<div class="item">
					<div class="amount">{{ user.following.length }}</div>
					<div class="denomination">Following</div>
				</div>
				<div class="item">
					<div class="amount">{{ user.followers.length }}</div>
					<div class="denomination">Followers</div>
				</div>
			</div>
			<div class="flex-1 flex right ai-center subscribe" *xl>
				<input type="button" class="btn" value="Follow" *ngIf="!isFollow() && !isMyProfile()" (click)="follow()">
				<input type="button" class="btn" value="Unfollow" *ngIf="isFollow() && !isMyProfile()" (click)="unfollow()">
			</div>
		</div>
	</div>
</div>
<div class="conteiner-points">
	<app-add-point *ngIf="isMyProfile()"></app-add-point>

	<masonry class="points">
       <masonry-brick class="point" *ngFor="let item of user.points">
       		<app-point [point]="item"></app-point>
       </masonry-brick>
    </masonry>
</div>
