:host{
    display: none;
    z-index: 1;
    position: relative;

    &.open{
        display: block;
    }

    div{
        position: absolute;
        left: 0;
        right:0;
        background: white;
        padding: 10px;
        border-radius: 4px;
        width: 200px;
        z-index: 1;
    }
}
