$color_first: #2285BA;
$color_second: #FF5160;
$color_link: #2a5885;
$text_color_first: #000;
$text_color_second: #828282;
$border_color: #dbe4ec;
$green: #51af2f;
$red: #FF5160;

$headerHeight: 41px;


$time: 0.2s;

$sm: 960px;
$xl: 961px;
