<div class="search-of-list-users">
	<input type="text" placeholder="Search:" (keyup)="runSearch($event.target.value)">
</div>
<div class="list-users" (swiperight)="prevPage()">
	<div class="item" *ngFor="let item of users">
		<div class="user flex">
			<div class="img">
			<div class="status" [class.online]="item.isOnline"></div>
				<a [routerLink]="'/' + item._id"> <img [src]="getImg(item)"> </a>
			</div>
			<div class="content">
				<a class="name" [routerLink]="'/' + item._id">{{ item.firstName }} {{ item.lastName }}</a>
				<a class="location" (click)="showInMap(item)">location</a>
				<a class="dialog follow" *ngIf="!item.following" (click)="follow(item)">follow</a>
				<a class="dialog follow" *ngIf="item.following" (click)="unfollow(item)">unfollow</a>
			</div>
		</div>
		<div class="menu">
			<div class="icon">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav class="menu-ctrl">
				<a href="#">menu1</a>
				<a href="#">menu1</a>
			</nav>
		</div>
	</div>
</div>
