.container {
	padding: 10px;
  margin: 10px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 10px 1px rgba(51,51,51,.2);

  .title {
  	font-size: 14px;
    padding: 10px;
    cursor: pointer;
    color: #2a5885;
  }

  .body {
  	padding-top: 10px;

  	.setting-list {
			&.left {
				padding-right: 10px;
			}
			&.right {
				// padding-left: 10px;
			}

			.avatar {
				border: 1px solid #dbe4ec;
				margin-top: 10px;

				.avatar-img {
					border-radius: 50%;
					overflow: hidden;
					display: block;
					width: 115px;
					height: 115px;
					margin: 15% auto;

				  img {
						object-fit: cover;
						height: 100%;
						width: 100%;
				  }
				}
				.buttons {
					border-top: 1px solid #dbe4ec;

					button {
						width: 100%;
						border: none;
						background: none;
						padding: 10px 0;
						font-size: 12px;

						&:first-child {
							border-right: 1px solid #dbe4ec;
						}

						&:last-child {
							background: #2285ba;
							color: #fff;
						}
					}
				}
			}

			.item-setings {
		    padding: 5px 10px;

				p {
					margin: 0;
					padding: 0;
					color: #464646;
			    display: inline-block;
				  font-size: 12px;
				  padding-bottom: 5px;
				}

				input {
					width: 100%;
					border: none;
			    background: #dbe4ec;
			    color: #333;
			    padding: 6px;
			    border-radius: 4px;
			    font-family: comfortaa;

			    &[type="checkbox"] {
			    	width: auto;
			    }
				}

				.select {
			    position: relative;
			    cursor: pointer;

					.language-active {
						width: 100%;
						border: none;
						color: #333;
				    background: #dbe4ec;
				    padding: 6px;
				    border-radius: 4px;

				    &:after {
				    	position: absolute;
				    	z-index: 2;
				    	content: '';
				    	top: 6px;
				    	right: 0;
				    	width: 9px;
				    	height: 9px;
				    	display: block;
				    	border-top: 1px solid #808080;
					    border-left: 1px solid #808080;
					    transform: rotate(-135deg);
				    }
					}

					.list {
						background-color: #fff;
						box-shadow: 0 0 10px 1px rgba(51, 51, 51, 0.2);
						position: absolute;
						top: 116%;
						left: 0;
						width: 100%;
						height: 0;
						overflow: hidden;
						transition: all .3s;

						p {
							display: block;
							padding: 10px;
							cursor: pointer;
							background-color: #fff;

							&:hover {
								background-color: #DBE4EC;
							}
						}
					}

					&.open {
						.list {
							height: auto;
						}
					}
				}
			}
  	}
  }
}