<div class="container">
	<div class="title">setings profile</div>
	<div class="line"></div>
	<div class="body flex">
		<div class="flex-1 setting-list left">
			<div class="avatar">
				<div class="avatar-img">
					<img [src]="getAvatarUrl()">
				</div>
				<div class="buttons flex">
					<button>delete</button>
					<button>upload</button>
				</div>
			</div>
		</div>
		<div class="flex-3 setting-list right">
			<div class="flex">
				<div class="flex-1">
					<div class="item-setings">
						<p>Name</p>
						<input type="text">
					</div>
				</div>
				<div class="flex-1">
					<div class="item-setings">
						<p>Sername</p>
						<input type="text">
					</div>
				</div>
			</div>
			<div class="item-setings">
				<p>E-mail</p>
				<input type="text">
			</div>
			<div class="flex">
				<div class="flex-1">
					<div class="item-setings">
				<p>Phone</p>
					<input type="text">
				</div>
				</div>
				<div class="flex-1">
					<div class="item-setings">
				<p>Site</p>
					<input type="text">
				</div>
				</div>
			</div>
			<div class="flex">
				<div class="flex-1">
					<div class="item-setings">
						<p>Display on the map</p>
						<div class="select">
							<div class="language-active">Display for all</div>
							<div class="list">
								<p>Display for all</p>
								<p>Display for friend</p>
								<p>Not show on map</p>
							</div>
						</div>
					</div>
				</div>
				<div class="flex-1">
					<div class="item-setings">
						<p>Language</p>
						<div class="select">
							<div class="language-active">English</div>
							<div class="list">
								<p>English</p>
								<p>Русский</p>
								<p>Український</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item-setings">
				<input type="checkbox">
				<p>Display you for everyone within a radius of 200 meters</p>
			</div>
		</div>
	</div>
</div>
